.home-hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("https://wallpapers.com/images/hd/apollo-belvedere-greek-statue-hlbd4e24ludtpu48.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-hero h1 {
  color: #fff;
  font-size: 5rem;
  letter-spacing: 50px;
  font-weight: bold;
}

.home-hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.home-hero h1 {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  transform: translateY(20px);
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.divider {
  height: 1px;
  border: solid thin #b68443;
  margin: 0px 50px;
}

.section {
  width: 100%;
  height: 90vh;
  padding: 20px 40px;
}

.section .section-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#section-1 .section-content .section-child {
  width: 100%;
  height: 100%;
}

#section-1 .section-content #content-left {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
#section-1 .section-content #content-left h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #b68443;
  letter-spacing: 5px;
  font-weight: 780;
}
#section-1 .section-content #content-left p {
  letter-spacing: 2px;
  line-height: 1.7;
  text-align: justify;
}

#section-1 .section-content #content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-1 .section-content #content-right img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#section-1 .section-content #content-right img:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.4);
}

/* section 2 */

#section-2 .section-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

#section-2 .section-content .art-card {
  max-width: 390px;
  height: 450px;
  padding: 20px 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;

  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#section-2 .section-content .art-card:hover {
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.6);
  transform: scale(1.05);
}

#section-2 .section-content .art-card img {
  width: 350px;
  height: 200px;
}

#section-2 .section-content .art-card p {
  text-align: justify;
  padding: 0px 12px;
  font-size: 0.9rem;
  text-indent: 1.5rem;
  line-height: 2;
}

/* section-3 */
#section-3 .section-content .section-child {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-3 .section-content #content-right {
  padding: 20px 50px;
  text-align: justify;
  line-height: 2;
}

#section-3 .section-content #content-left {
  background-image: url("https://i0.wp.com/www.printmag.com/wp-content/uploads/2022/09/tabitha-turner-lj7guVTi7GI-unsplash-1.jpg?fit=1568%2C992&quality=89&ssl=1");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

#section-3 .section-content #content-left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}

/* section 4 */

#section-4 .section-content {
  padding: 70px 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

#section-4 .section-content h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #b68443;
}

#section-4 .section-content .text-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  padding: 0px 70px;
}

#section-4 .section-content .text-child .text-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  padding: 0%;
  border: solid black thin 1px;
  overflow: hidden;
  background-color: #e2a14d;
}

#section-4 .section-content .text-child .text-card li {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

#section-4 .section-content .text-child .text-card p {
  padding-top: 50px;
  text-align: justify;
  padding: 5px 40px;
  background-color:#fff ;
}
