.navbar-wrapper {
  width: 100%;
  padding: 10px;
  margin: 0%;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-wrapper .site-name a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: x-large;
}

.navbar-wrapper ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  padding: 10px 50px;
}

.navbar-wrapper ul li {
  color: white;
  font-weight: 500;
}

.navbar-wrapper a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 5px;
  transition:    color 0.3s ease;
}

.navbar-wrapper  a:hover {
  color: #E0A75E;
}
