.navbar-wrapper {
  width: 100%;
  padding: 10px;
  height: 72px;
  margin: 0%;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-wrapper .site-name a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: x-large;
}

.navbar-wrapper ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  height: 100%;
  margin: 0%;
}

.navbar-wrapper ul li {
  color: white;
  font-weight: 500;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar-wrapper a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 5px;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-wrapper ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 5px;
  background-color: #e0a75e;
  transition: width 0.3s ease, color 0.3s ease;
}

.navbar-wrapper ul a:hover::after,
.navbar-wrapper ul a:hover {
  color:#e0a75e;
  width: 100%;
}
